/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
body {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }



  /* .w-100 {
    width: 100% !important;
    height: 75vh;
  } */

